    <footer id="footer">
    <div id="bottom-tip">
        <%= config.title %><% if(config.subtitle) { %> —— <small><%= config.subtitle %></small><% } %>
    </div>
        <small>不忘初心       ,        方得始终</small><br />
        <small>&copy; Copyright © 2012 - 2022 Joe. All Rights Reserved. <a href="https://beian.miit.gov.cn/">鲁ICP备2022002916号-1</a>> <%= config.author %></small>
    </footer>

    <%- partial('baidu-analytics') %>
</body>
</html>
