    <footer id="footer">
    <div id="bottom-tip">
        <%= config.title %><% if(config.subtitle) { %> —— <small><%= config.subtitle %></small><% } %>
    </div>
        <small>不忘初心       ,        方得始终</small><br />
        <small>&copy;2022 <%= config.author %>,  All Rights Reserved <br/> <a href="https://beian.miit.gov.cn/">鲁ICP备2022002916号-1</a></small>
    </footer>

    <%- partial('baidu-analytics') %>
</body>
</html>
